* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D2128;
}

hr {
    width: 311;
    top: 222px;
    left: 260px;
    border-width: 1px;
    border: 1px solid #E5E5E533;
    background-color: #E5E5E533;

}